*.pyc
*.so
*.egg-info
*.whl
build/bazel*
dist/
.ipynb_checkpoints
/bazel-*
.bazelrc
/tensorflow
.DS_Store
.mypy_cache/
.pytype/
docs/build
docs/notebooks/.ipynb_checkpoints/
docs/_autosummary
.idea
.vscode
venv/
jax.iml