absl-py
build
cloudpickle
colorama>=0.4.4
epath
hypothesis
importlib_metadata>=4.6;python_version<"3.10"
matplotlib
ml_dtypes==0.2.0
numpy>=1.22
opt_einsum
pillow>=9.1.0
portpicker
pytest-xdist
rich
scipy==1.10.1
tensorflow
torch==1.13.1
wheel
zstandard