name: CI - Bazel CPU tests (RBE)

on:
  workflow_dispatch:
    inputs:
      halt-for-connection:
        description: 'Should this workflow run wait for a remote connection?'
        type: choice
        required: true
        default: 'no'
        options:
        - 'yes'
        - 'no'
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - 'release/**'
permissions: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  # Don't cancel in-progress jobs for main/release branches.
  cancel-in-progress: ${{ !contains(github.ref, 'release/') && github.ref != 'main' }}

jobs:
  run_tests:
    if: github.event.repository.fork == false
    runs-on: ${{ matrix.runner }}
    container: ${{ (contains(matrix.runner, 'linux-x86') && 'us-docker.pkg.dev/ml-oss-artifacts-published/ml-public-container/ml-build:latest') ||
                   (contains(matrix.runner, 'linux-arm64') && 'us-docker.pkg.dev/ml-oss-artifacts-published/ml-public-container/ml-build-arm64:latest') }}
    env:
      JAXCI_HERMETIC_PYTHON_VERSION: ${{ matrix.python }}
      JAXCI_ENABLE_X64: ${{ matrix.enable-x_64 }}
# Begin Presubmit Naming Check - name modification requires internal check to be updated
    strategy:
      matrix:
        python: ["3.10", "3.13"]
        runner: ["linux-x86-n2-16", "linux-arm64-c4a-16"]
        enable-x_64: [1, 0]
        exclude:
            # Exclude x64=1 on the oldest Python and x64=0 on the newest Python. As long as we have
            # coverage for one of each, we don't need to run both.
            - python: "3.10"
              enable-x_64: 1
            - python: "3.13"
              enable-x_64: 0
            # Only test a single Python version on Arm64 as we don't run the tests.
            - python: "3.10"
              runner: "linux-arm64-c4a-16"
    name: "Bazel CPU ${{ (contains(matrix.runner, 'linux-arm64') && 'build only' || 'tests') }} (${{ matrix.runner }}, Python ${{ matrix.python }}, x64=${{ matrix.enable-x_64 }})"
# End Presubmit Naming Check github-cpu-presubmits
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          persist-credentials: false
      - name: Wait For Connection
        uses: google-ml-infra/actions/ci_connection@7f5ca0c263a81ed09ea276524c1b9192f1304e3c
        with:
          halt-dispatch-input: ${{ inputs.halt-for-connection }}
      # Since we do not have a Linux Arm64 RBE pool, we do not run the tests on Arm64. Instead, we
      # cross-compile the tests on the Linux x86 RBE pool.
      - name: ${{ (contains(matrix.runner, 'linux-arm64') && 'Build' || 'Run') }} Bazel CPU Tests with RBE
        run: ./ci/run_bazel_test_cpu_rbe.sh