name: Pyrefly type checking (non-blocking)

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Run pre-commit hook
      uses: pre-commit/action@v3.0.1
      with:
        extra_args: pyrefly-check --hook-stage=manual --all-files
