# CI - Pytest TPU
#
# This workflow runs the TPU tests with Pytest. It can only be triggered by other workflows via
# `workflow_call`. It is used by the "CI - Wheel Tests" workflows to run the Pytest TPU tests.
#
# It consists of the following job:
# run-tests:
#    - Downloads the jaxlib wheel from a GCS bucket.
#    - Sets up the libtpu wheels.
#    - Executes the `run_pytest_cpu.sh` script, which performs the following actions:
#      - Installs the downloaded jaxlib wheel.
#      - Runs the TPU tests with Pytest.
name: CI - Pytest TPU
on:
  workflow_call:
    inputs:
      # Note that the values for runners, cores, and tpu-type are linked to each other.
      # For example, the v5e-8 TPU type requires 8 cores. For ease of reference, we use the
      # following mapping:
      # {tpu-type: "v4-8", cores: "4", runner: "linux-x86-ct4p-240-4tpu"},
      # {tpu-type: "v5e-8", cores: "8", runner: "linux-x86-ct5lp-224-8tpu"}
      runner:
        description: "Which runner should the workflow run on?"
        type: string
        default: "linux-x86-ct5lp-224-8tpu"
      cores:
        description: "How many TPU cores should the test use?"
        type: string
        default: "8"
      tpu-type:
        description: "Which TPU type is used for testing?"
        type: string
        default: "v5e-8"
      python:
        description: "Which Python version should be used for testing?"
        type: string
        default: "3.12"
      run-full-tpu-test-suite:
        description: "Should the full TPU test suite be run?"
        type: string
        default: "0"
      libtpu-version-type:
        description: "Which libtpu version should be used for testing?"
        type: string
        # Choices are:
        # - "nightly": Use the nightly libtpu wheel.
        # - "pypi_latest": Use the latest libtpu wheel from PyPI.
        # - "oldest_supported_libtpu": Use the oldest supported libtpu wheel.
        default: "pypi_latest"
      skip-download-jaxlib-from-gcs:
        description: "Whether to skip downloading the jaxlib artifact from GCS (e.g for testing a jax only release)"
        default: '0'
        type: string
      gcs_download_uri:
        description: "GCS location prefix from where the artifacts should be downloaded"
        default: 'gs://general-ml-ci-transient/jax-github-actions/jax/${{ github.workflow }}/${{ github.run_number }}/${{ github.run_attempt }}'
        type: string
      halt-for-connection:
        description: 'Should this workflow run wait for a remote connection?'
        type: string
        default: 'no'
permissions: {}

env:
  UV_DEFAULT_INDEX: "https://us-python.pkg.dev/ml-oss-artifacts-published/pypi-mirror/simple"

jobs:
  run-tests:
    defaults:
      run:
        shell: bash
    runs-on: ${{ inputs.runner }}
    container: "us-docker.pkg.dev/ml-oss-artifacts-published/ml-public-container/ml-build:latest"
    name: "${{ inputs.tpu-type }}, py ${{ inputs.python }}, libtpu=pypi_latest"

    env:
      LIBTPU_OLDEST_VERSION_DATE: 20250228
      JAXCI_HERMETIC_PYTHON_VERSION: "${{ inputs.python }}"
      JAXCI_PYTHON: "python${{ inputs.python }}"
      JAXCI_RUN_FULL_TPU_TEST_SUITE: "${{ inputs.run-full-tpu-test-suite }}"
      JAXCI_TPU_CORES: "${{ inputs.cores }}"

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Download JAX CPU wheels
        uses: ./.github/actions/download-jax-cpu-wheels
        with:
          runner: ${{ inputs.runner }}
          python: ${{ inputs.python }}
          skip-download-jaxlib-from-gcs: ${{ inputs.skip-download-jaxlib-from-gcs }}
          gcs_download_uri: ${{ inputs.gcs_download_uri }}
      - name: Install Python dependencies
        run: |
          $JAXCI_PYTHON -m uv pip install -r build/test-requirements.txt -r build/collect-profile-requirements.txt
      - name: Set up libtpu wheels
        run: |
          # if [[ "${{ inputs.libtpu-version-type }}" == "nightly" ]]; then
          #   echo "Using nightly libtpu"
          #   $JAXCI_PYTHON -m uv pip install --pre libtpu -f https://storage.googleapis.com/jax-releases/libtpu_releases.html
          if [[ "pypi_latest" == "pypi_latest" ]]; then
            echo "Using latest libtpu from PyPI"
            # Set JAXCI_JAX_PYPI_EXTRAS to "tpu". The `run_pytest_tpu.sh` script will install the
            # latest libtpu wheel from PyPI.
            echo "JAXCI_JAX_PYPI_EXTRAS=tpu" >> $GITHUB_ENV
          elif [[ "${{ inputs.libtpu-version-type }}" == "oldest_supported_libtpu" ]]; then
            echo "Using oldest supported libtpu"
            $JAXCI_PYTHON -m uv pip install --pre libtpu-nightly==0.1.dev${{ env.LIBTPU_OLDEST_VERSION_DATE }} \
              -f https://storage.googleapis.com/jax-releases/libtpu_releases.html

            echo "libtpu_version_type=oldest_supported_libtpu" >> $GITHUB_ENV
          else
            echo "Unknown libtpu version type: ${{ inputs.libtpu-version-type }}"
            exit 1
          fi
      # Halt for testing
      - name: Wait For Connection
        uses: google-ml-infra/actions/ci_connection@7f5ca0c263a81ed09ea276524c1b9192f1304e3c
        with:
          halt-dispatch-input: ${{ inputs.halt-for-connection }}
      - name: Run Pytest TPU tests
        timeout-minutes: ${{ github.event_name == 'pull_request' && 30 || 210 }}
        run: |
          if [[ ${{ inputs.python }} == "3.13-nogil" && ${{ inputs.tpu-type }} == "v5e-8" ]]; then
            echo "Uninstalling xprof as it is not compatible with python 3.13t."
            $JAXCI_PYTHON -m uv pip uninstall xprof
          fi
          ./ci/run_pytest_tpu.sh
