# CI - Wheel Tests (Nightly/Release)
#
# This workflow is used to test the JAX wheels that were built by internal CI jobs.
#
# 1. run-pytest-cpu:  Calls the `pytest_cpu.yml` workflow which downloads the JAX wheels that were
#                     built by internal CI jobs and runs CPU tests.
# 2. run-bazel-test-cpu:  Calls the `bazel_cpu.yml` workflow which downloads the
#                     JAX wheels that were built by internal CI jobs and runs Bazel CPU tests.
# 3. run-pytest-cuda: Calls the `pytest_cuda.yml` workflow which downloads the JAX wheels that were
#                     built by internal CI jobs and runs CUDA tests.
# 4. run-bazel-test-cuda: Calls the `bazel_cuda.yml` workflow which downloads the JAX wheels
#                     that were built by internal CI jobs and runs Bazel CUDA tests.
# 5. run-pytest-tpu: Calls the `pytest_tpu.yml` workflow which downloads the JAX wheels that were
#                    built by internal CI jobs and runs TPU tests.
# 6. run-bazel-test-tpu: Calls the `bazel_test_tpu.yml` workflow which downloads the JAX wheels that
#                        were built by internal CI jobs and runs Bazel TPU tests.
# 7. verify-release-wheels-install: Verifies that JAX's release wheels can be installed.
name: CI - Wheel Tests (Nightly/Release)

on:
  workflow_dispatch:
    inputs:
      gcs_download_uri:
        description: "GCS location URI from where the artifacts should be downloaded"
        required: true
        default: 'gs://jax-nightly-artifacts/latest'
        type: string
      skip-download-jaxlib-and-cuda-plugins-from-gcs:
        description: "Whether to download only the jax wheel from GCS (e.g for testing a jax only release)"
        required: true
        default: '0'
        type: string
      halt-for-connection:
        description: 'Should this workflow run wait for a remote connection? (yes/no)'
        required: false
        default: 'no'
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
permissions: {}

env:
  UV_DEFAULT_INDEX: "https://us-python.pkg.dev/ml-oss-artifacts-published/pypi-mirror/simple"

jobs:
  run-pytest-cpu:
    uses: ./.github/workflows/pytest_cpu.yml
    strategy:
        fail-fast: false # don't cancel all jobs on failure
        matrix:
          # Runner OS and Python values need to match the matrix stategy of our internal CI jobs
          # that build the wheels.
          runner: ["linux-x86-n4-64", "linux-arm64-t2a-48", "windows-x86-n2-64"]
          python: ["3.11", "3.12", "3.13", "3.13-nogil", "3.14", "3.14-nogil"]
          enable-x64: [0]
          exclude:
            - runner: "windows-x86-n2-64"
              python: "3.13-nogil"
            - runner: "windows-x86-n2-64"
              python: "3.14-nogil"
    name: "Pytest CPU (JAX artifacts version = ${{ startsWith(github.ref_name, 'release/') && 'latest release' || 'nightly' }})"
    with:
      runner: ${{ matrix.runner }}
      python: ${{ matrix.python }}
      enable-x64:  ${{ matrix.enable-x64 }}
      skip-download-jaxlib-from-gcs: ${{inputs.skip-download-jaxlib-and-cuda-plugins-from-gcs}}
      gcs_download_uri: ${{inputs.gcs_download_uri}}
      halt-for-connection: ${{inputs.halt-for-connection}}
      # TODO(b/456203132): Increase to more than 16 processes if this works
      #  (56 prior to this).
      max-processes: ${{ contains(matrix.runner, 'windows-x86') && '16' || '' }}
            uv pip install $JAX_WHEEL $JAXLIB_WHEEL $JAX_CUDA_PJRT_WHEEL $JAX_CUDA_PLUGIN_WHEEL
          fi
