# CI - Wheel Tests (Continuous)
#
# This workflow builds JAX artifacts and runs CPU/TPU/CUDA tests.
#
# It orchestrates the following:
# 1. build-jaxlib-artifact: Calls the `build_artifacts.yml` workflow to build jaxlib and
#                           uploads it to a GCS bucket.
# 2. run-pytest-cpu:        Calls the `pytest_cpu.yml` workflow which downloads the jaxlib wheel
#                           that was built in the previous step and runs CPU tests.
# 3. build-cuda-artifacts:  Calls the `build_artifacts.yml` workflow to build CUDA artifacts and
#                           uploads them to a GCS bucket.
# 4. run-bazel-test-cpu-py-import: Calls the `bazel_cpu_rbe.yml` workflow which
#                           runs Bazel CPU tests with py_import on RBE.
# 5. run-bazel-test-cuda-py-import: Calls the `bazel_cuda.yml` workflow which
#                           runs Bazel CUDA tests with py_import on non-RBE.
# 6. run-pytest-cuda:       Calls the `pytest_cuda.yml` workflow which downloads the jaxlib and CUDA
#                           artifacts that were built in the previous steps and runs the CUDA tests.
# 7. run-bazel-test-cuda:   Calls the `bazel_cuda.yml` workflow which downloads the jaxlib
#                           and CUDA artifacts that were built in the previous steps and runs the
#                           CUDA tests using Bazel.
# 8. run-pytest-tpu:        Calls the `pytest_tpu.yml` workflow which downloads the jaxlib wheel
#                           that was built in the previous step and runs TPU tests.
# 9. run-bazel-test-tpu:    Calls the `bazel_test_tpu.yml` workflow which
#                           runs Bazel TPU tests with py_import.

name: CI - Wheel Tests (Continuous)
permissions:
      contents: read

on:
  schedule:
    - cron: "0 */3 * * *" # Run once every 3 hours
  workflow_dispatch: # allows triggering the workflow run manually
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - 'release/**'


concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'release/') && github.ref != 'main' }}

jobs:

  run-bazel-test-cuda-py-import:
    # Run test jobs even if the build job fails. Avoids losing test coverage if a single unrelated
    # build job fails. E.g Windows build job fails but everything else succeeds. In this case, we
    # still want to run the tests for other platforms.
    if: ${{ !cancelled() }}
    uses: ./.github/workflows/bazel_cuda.yml
    strategy:
        fail-fast: false # don't cancel all jobs on failure
        matrix:
          # Python values need to match the matrix stategy in the build artifacts job above
          runner: ["linux-x86-g2-48-l4-4gpu"]
          python: ["3.11"]
          cuda-version: ["12"]
          enable-x64: [1]
    name: "Bazel CUDA Non-RBE with ${{ format('{0}', 'build_jaxlib=wheel') }}"
    with:
      runner: ${{ matrix.runner }}
      python: ${{ matrix.python }}
      cuda-version: ${{ matrix.cuda-version }}
      enable-x64:  ${{ matrix.enable-x64 }}
      build_jaxlib: "wheel"
      build_jax: "wheel"
      jaxlib-version: "head"
      write_to_bazel_remote_cache: 1
      run_multiaccelerator_tests: "true"
